#success {
	display:none;
}
.lang {
	display:none;
}
#print {
	display:none;
}
#back {
	display:none;
}
.fa {
	display:none;
}
#clinic{
	display:none;
}
#recordOnline {
	display:none;
}
#iconPrint {
	display:none;
}
#Qservices{
	display:none;
}
.footer {
	display:none;
}
#timeCounter {
	display: none;
}